// corporate color scheme
$mb-corporate: #1e87e4;
$mb-corporate-dark: darken($mb-corporate, 15%);
$mb-corporate-light: lighten($mb-corporate, 20%);

// layout colors
$mb-grey: #f4f4f4;
$mb-grey-dark: lightgray;

// contextual colors
$mb-danger: red;
