@import "../../global_styles/main";

.header {
  height: $header-height;
  width: 100%;
  background-color: $mb-corporate;

  img {
    height: calc(#{$header-height} - 10px);
    margin: 5px 0 0 20px;
  }

  i {
    float: right;
    font-size: 24px;
    color: white;
    margin: {
      top: calc(((#{$header-height} - 24px)/2) - 2px);
      right: 20px;
    }
  }
}